<style>
  .container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 33%;
    height: 30%;
    padding: 0.5rem;
    background: #666;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #333;
    opacity: 98%;
    color: #eee;
  }

  .container h4 {
    margin: 0;
  }

  .btn-close,
  .btn-folder {
    float: right;
    cursor: pointer;
    padding: 0 5px;
  }

  .btn-folder::after {
    display: inline;
    content: '▼';
  }

  .spinner {
    display: none;
  }

  .spinner::after {
    content: '';
    display: inline;
    animation: loading-spinner;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes loading-spinner {
    20% {
      content: '.';
    }

    40% {
      content: '..';
    }

    60% {
      content: '...';
    }

    80% {
      content: '....';
    }

    100% {
      content: '.....';
    }
  }

  .loading .spinner {
    display: inline;
  }

  .list {
    width: 100%;
    max-height: calc(100% - 60px);
    overflow: auto;
  }

  .list .row {
    display: flex;
  }

  .row.header {
    font-weight: bolder;
  }

  .row > div {
    padding: 5px;
    flex: 1;
  }

  .row > div.index {
    width: 40px;
    text-align: right;
    flex: 0 1 auto;
  }

  .row > div.state {
    width: 60px;
    flex: 0 1 auto;
  }

  .progress {
    height: 14px;
    overflow: hidden;
    border: 1px solid #eee;
  }

  .progress > .progress-bar {
    float: left;
    height: 100%;
    color: #333;
    text-align: center;
    background-color: #eee;
  }

  .toolbar {
    height: 60px;
    display: none;
    padding-top: 10px;
  }

  .toolbar > div {
    flex: 1;
  }

  .toolbar > .buttons {
    text-align: right;
  }

  .status-failed {
    color: #b60202;
  }

  .fold .btn-folder::after {
    content: '▲';
  }

  .fold.container {
    height: 15px;
  }

  .fold .list,
  .fold .toolbar {
    display: none;
  }

  .resolved .toolbar {
    display: flex;
  }
</style>

<div class="container" v-bind:class="{ fold, loading, resolved }">
  <h4>
    <span class="title">
      总页数：{{ pages.length }} | 正在下载：{{ downloadingCount }} | 已下载：{{ successCount }} | 失败：{{ failCount }}
    </span>
    <span class="spinner"></span>
    <a class="btn-close" v-on:click="close">╳</a>
    <a class="btn-folder" v-on:click="toggleFold"></a>
  </h4>
  <hr />
  <div class="list">
    <page-item class="header">
      <template v-slot:index>序号</template>
      <template v-slot:url>页面</template>
      <template v-slot:state>状态</template>
    </page-item>
    <page-item
      v-for="page in currentPages"
      :key="page.index"
      :state="page.state"
      :index="page.index"
      :url="page.pageUrl"
      :progress="page.progress"
      :progress-text="page.progressText"
    />
  </div>
  <div class="toolbar">
    <div class="download-status"></div>
    <div class="buttons">
      <button class="btn-export-url" v-on:click="exportPage('txt')">导出 URL</button>
      <button class="btn-export-zip" v-on:click="exportPage('zip')">导出 ZIP</button>
    </div>
  </div>
</div>
